<!DOCTYPE html>
<html>
  <head>
    <title>TestRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= yield :stylesheets %>
  </head>
  <body>
    <h1> Welcome to private messaging service!</h1>
    <%= yield %>
    <%= yield :javascripts %>
  </body>
</html>
